
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab">Home</a></li>
        <li><a data-toggle="tab">Calendar</a></li>
        <li><a data-toggle="tab">To do</a></li>
        <li><a data-toggle="tab">Members</a></li>
    </ul>
</div>

