
@model Chronos.Models.GroupContentModel

<div id="calendar" class="tab-pane fade in">
    <h2>Calendar</h2>
    <p>Upcoming events</p>
    <ul>
        @foreach (string eventInfo in Model.Calendar.getEvents()) {
            <li>@eventInfo</li>
        }
    </ul>
</div>
