
@{
    ViewBag.Title = "Login";
}

<div class="login2">
    <h1>Log In</h1>
    <div>
        <span>Username</span>
        <input type="text" />
    </div>
    <div>
        <span>Password</span>
        <input type="text" />
    </div>
    @Html.ActionLink("Login", "index", "home", null, new { @class = "btn btn-success" })
</div>
